.myProfileBody {
    margin-top : 20px;
    height: calc(100% - 490px);
  }

.list {
    height: auto;
    width : 94%;
    max-width: 900px;
    position : relative;
    left:50%;
    transform: translate(-50%);
  }
.liHead {
    height : 50px;
    line-height: 40px;
    font-size : 35px;
    font-weight : bolder;
    margin-bottom : 5px;
    text-align: center;
    border-bottom : 3px solid #65a1a0;
  }
  .liSubHead {
    height : 50px;
    line-height: 40px;
    font-size : 30px;
    font-weight : bolder;
    margin-bottom : 10px;
    text-align: center;
  }
  .liSubHead .liIcon {
    height : 40px;
    width: 40px;
    display: block;
    margin: auto;
  }
.liBody {
    margin-bottom : 10px;
  }
.liItem {
  width:100%;
}
.multiItems {
  text-align: center;
}
.multiItems .liItemIcon {
    height : 100px;
    width: 100px;
    display: inline-block;
    margin: auto;
}
.liItemIcon {
    height : 100px;
    width: 100px;
    display: block;
    margin: auto;
  }