.myProfileTitle {
    height: 450px;
    background: white;
    width: 100%;
    float: inherit;
    padding-top : 15px;
  }
  
  .titleArea {
    width: 94%;
    max-width: 900px;
    height: 450px;
    position : absolute;
    left:50%;
    transform: translate(-50%);
  }
  .titleImage {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .titleImage .img {
    width:100%;
    height: 100%;
  }

  .titleWords {
    background-color: rgba(110, 108, 108, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0%, -100%);
  }
  .titleWords .txtArea {
    background-color: rgba(228, 228, 228, 0.4);
    width: 100%;
    height: 120px;
    margin-top : 300px;
  }
  .titleWords .txtArea .nameTxt {    
    font-size: 30px;
    font-weight: bolder;
    margin-top : 10px;
    margin-left : 10px;
  }
  .titleWords .txtArea .introTxt {    
    font-size: 20px;
    font-weight: bolder;
    margin-left : 10px;
  }
  .titleWords .txtArea .careerTxt {    
    font-size: 20px;
    font-weight: bolder;
    margin-left : 10px;
  }